nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4rem;
  background-color: #052132;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
}

.links {
  display: flex;
  gap: 20px;
}
.links a {
  color: #fff;
  text-decoration: none;
}
