.hero-section {
  background-image: url(../../assets/background_img.avif);
  height: 100vh;
  background-size: 100%;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

.hero-section h1 {
  font-size: 9rem;
}

.hero-section,
p {
  font-size: 3rem;
}
